body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.invitation-header{
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  position: relative;
  height: 600px;
}